html, body, #controls {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

#left-track,
#right-track {
  background-color: black;
  background-size: cover;
  border: 20px solid white;
  min-height: 100%;
  min-width: 30%;
  max-width: 30%;
}

#fire {
  background-image: url(http://www.online-utility.org/image/ImageCache?file=4/4f/Button-Red.svg/800px-Button-Red.svg);
  background-size: cover;
  min-height: 100%;
  min-width: 40%;
  max-width: 40%;
}

#orientation {
    background-color: rgb(39, 45, 51);
    padding-top: 30%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
}

#game-room-input {
    margin-top: 10%;
}
#user-input {
    color: black;
    height: 50px;
    font-size: 18pt;
}
