html, body, #controls {
  background-color: black;
  height: 100%

}

#left-track,
#right-track {
  background-color: white;
  min-height: 100%;
}

#fire {
  background-image: url(http://www.online-utility.org/image/ImageCache?file=4/4f/Button-Red.svg/800px-Button-Red.svg);
  background-size: cover;
  min-height: 100%;
}
